.form_container{
	background: white;
	padding: 20px;
	border-radius: 30px;
	margin: 30px auto;
	width: 95%;
	max-width: 800px;
}
.form_container form{
	width: 100%;
}
.form_container form ul, .form_container form ul li{
	margin: 20px 10px;
	width: 100%;
}
.form_container form ul li{
	width: 90%;
	display: flex;
	justify-content: start;
	align-items: center;
}
.form_container form ul li label label{
	display: flex;
	align-items: center;
}
.form_container form ul li label{
	margin: 0 10px 0 10px;
	width: 100px;
}
.form_container form ul li input{
	border: 1px solid gray;
	border: 0 0 2px 0;
	font-size: 22px;
	width: 100%;
	max-width: 550px;
}
.form_container button{
	padding: 10px 15px;
	border-radius: 10px;
	margin: 3px 10px 3px 10px;
}
#button1{
	margin-left: 30px;
	background: var(--color-green);
	border: 2px solid var(--color-green);
	color:white;
}
#button1:hover{
	background: white;
	border: 2px solid var(--color-green);
	color:var(--color-green);
}
#button2{
	background: white;
	border: 2px solid var(--color-gray);
	color:var(--color-gray);
}
#button2:hover{
	background: var(--color-gray);
	color:white;
}